*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    width: 1150px;
    padding: 0 auto;
    margin: 0 20px;
}
.site-header-logo{
    display: inline-block;
    vertical-align: middle;
    }
.site-header-nav{
    display: inline-block;
    vertical-align: middle;
}
.site-header-item{
    display: inline-block;
}
.site-header-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.site-header-link{
     text-decoration: none;
font-size: 14px;
font-weight: 400;
line-height: 16px;
letter-spacing: -0.10769230872392654px;
text-align: left;
    }
.site-header-list+.site-header-list{
    margin: 30px;
}